h1 {
    font-size: 64px;
}

h3 {
    font-size: 30px;
}

body {
    position: relative;
}

.ns-carousel {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
}
.ns-carousel-images {
    width: 100%;
    height: 33.75vw;
}

.ns-carousel img {
    position: absolute;
    width: 60vw;
    height: 33.75vw;
    object-fit: cover;
    left: 20vw;
    cursor: pointer;
}

.ns-carousel .ns-carousel-1 {
    transform: scale(0.8, 0.8) translateX(-13vw);
}
.ns-carousel .ns-carousel-2 {
    z-index: 5;
}
.ns-carousel .ns-carousel-3 {
    transform: scale(0.8, 0.8) translateX(13vw);
}
.ns-carousel .ns-carousel-off {
    display: none;
}

.ns-carousel-points {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.ns-carousel-point {
    width: 16px;
    height: 16px;
    border-radius: 50rem;
    background-color: #c4c4c4;
    cursor: pointer;
}

.ns-carousel-point-active {
    background-color: var(--ns-color-tickle-me-pink);
}

#error {
    font-size: 21px;
    padding: 72px 0;
}

.ns-menu-profil {
    background-color: var(--ns-color-gray);
    height: 40px;
    width: 40px;
    border-radius: 15em;
}

.ns-avatar{
    background-color: var(--ns-color-gray);
    height: 150px;
    width: 150px;
    border-radius: 15em;
}

.ns-scan-preview {
    background-color: var(--ns-color-light-red);
    border-radius: 0.5rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 20px 5%;
}

.ns-section-block {
    /*background-color: var(--ns-color-purpureus);*/
    border-radius: 0.5rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 20px 5%;
}

.ns-scan-preview-profil {
    background-color: var(--ns-color-light-red);
    border-radius: 0.5rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 10px 5%;
}

.ns-scan-preview h3 {
    /*font-size: 32px;*/
    margin: 1em 0;
}

.ns-scan-preview-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    width: 100%;
    /*flex-wrap: wrap;*/
    gap: 32px;
    overflow-x: scroll;
}

.ns-scan-preview-component {
    /*margin: 24px 0;*/
    width: 170px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 16px;
}
.ns-scan-preview-component img {
    height: 250px;
    width: 170px;
    object-fit: cover;
}

.ns-scan-preview-component span {
    font-size: 24px;
    text-align: center;
}

.ns-b-azalea {
    background-color: var(--ns-color-light-red);
}

.ns-b-purple-gradient {
    background: linear-gradient(to right, #9f4eb9, #a463c0) !important;
}

.ns-text-red {
    color: var(--ns-color-paradise-pink);
}

.ns-text-black {
    color: var(--ns-color-black) !important;
}

.ns-text-white {
    color: var(--ns-color-white) !important;
}

.ns-f-bg-auth {
    background: linear-gradient(
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
    ), url(/res/background.jpg) no-repeat center center fixed;
}

.ns-f-bg-err {
    background: linear-gradient(
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
    ), url(/res/background_404.jpg) no-repeat center center fixed;
}


.ns-f-bg {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100%;
    z-index: -2;
    position: fixed;
    top: 0;
    left: 0;
}


.ns-theme-bg {
    background-color: var(--ns-color-theme-bg);
}

.ns-violet-blue-bg {
    background-color: var(--ns-color-violet-blue);
}

.ns-tickle-pink-bg {
    background-color: var(--ns-color-tickle-me-pink);
}

.ns-tickle-pink-btn {
    background-color: var(--ns-color-tickle-me-pink);
    border-radius: 1.5rem;
    padding: 0.5rem 2rem;
}

.ns-tickle-pink-btn:hover {
    opacity: 0.7;
}

.ns-theme-text {
    color: var(--ns-color-theme-text);
}

.ns-form-pink {
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: var(--ns-color-deep-fushia);
    color: var(--ns-color-lavender-blush);
    border: none;
}

.ns-form-pink::placeholder {
    color: var(--ns-color-lavender-blush);
    opacity: 0.8;
}

.ns-form-pink:focus {
    background-color: var(--ns-color-deep-mauve);
}

.ns-form-deep-mauve {
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: var(--ns-color-deep-mauve);
    color: var(--ns-color-black);
    border: none;
}

.ns-form-deep-mauve::placeholder {
    color: var(--ns-color-lavender-blush);
    opacity: 0.8;
}

.ns-form-deep-mauve:focus {
    outline: solid black 2px;
    border: none;
    box-shadow: none;
    background-color: var(--ns-color-deep-mauve);
    /*background-color: var(--ns-color-deep-mauve);*/
}

.ns-form-danger {
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: var(--ns-color-paradise-pink);
    color: var(--ns-color-lavender-blush);
    border: none;
    border-radius: .4rem;
}

.ns-form-danger:focus {
    background-color: var(--ns-color-paradise-pink);
}

.ns-form-danger:hover {
    opacity: .8;
}

.ns-f-wrap {
    display: flex;
    flex-wrap: wrap;
}

.ns-f-w-group {
    width: 100%;
    flex: 1 0 100%;
    /*padding: 0 10px;*/
}

.no-display {
    display: none;
}



#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    border: 1px solid #FF85A1;
    color: #FF85A1;
}

.svg-inline{
    width: 1em;
}

 #mainNav {     /*#ns-nav*/
    /*background-color: var(--ns-color-purpureus);*/
    background: linear-gradient(to left, #9241AF, #a463c0) !important;
    /*height: 72px;
    max-height: 72px;*/
    overflow: hidden;
    width: 100%;

    /*: sticky;
    top: 0;*/

    /*display: grid;
    grid-template-columns: 33% auto 33%;
    grid-template-rows: 100%;
    row-gap: 0;

    align-items: center;*/
}

.ns-nav-logo {

}


.ns-404-h1 {
    font-size: 60px;
}

.ns-logo-auth {
    height: 96px;
}

.ns-logo-404 {
    height: 80px;
}

/*#ns-nav .ns-logo {
    left: 100px;
    height: 48px;
    width: 48px;
}*/

.ns-search-div {
    width: 100%;
    height: 100%;
}

.ns-nav-part {
    grid-row: 1/3;
    align-self: stretch;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.ns-search {
    background-color: var(--ns-color-deep-mauve);
    border: none;
    height: 32px;
    width: calc(100% - 32px);
    padding: 0 24px;
    border-radius: 16px;
}

.ns-them-check {
    height: 32px;
    width: 64px !important;
    background-color: #ffffff;
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,133,161,1.0)'/></svg>") !important;
}

.ns-them-check:focus {
    border-color: var(--ns-color-light-red);
    box-shadow: 0 0 0 .25rem rgba(var(--ns-color-light-red));
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,133,161,1.0)'/></svg>") !important;;
}

.ns-them-check:checked {
    background-color: #404141;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,133,161,1.0)'/></svg>") !important;;
}

.ns-pict {
    height: 40px;
}

#ns-footer {
    background-color: var(--ns-color-purpureus);
    height: 560px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 70% 20% 10%;
    align-items: center;
    justify-items: center;
}

#ns-footer-link {
    padding: 0 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: end;

    gap: 16px 32px;
    max-height: 220px;
}

#ns-footer-link > a {
    color: var(--ns-color-black);
    text-decoration: none;
    font-size: 20px;
    flex-basis: 150px;
    flex-grow: 1;
    flex-shrink: 4;
}

#ns-footer-link a:hover {
    color: var(--ns-color-deep-mauve);
}

#ns-footer-logo {
    bottom: 0;
}

/*#ns-footer-logo a {*/
/*    width: 100%;*/
/*}*/

#ns-footer-logo img {
    display: inline-block;
    margin-right: 32px;
    height: 140px;
}

#ns-footer-logo div {
    display: inline-block;
}

#ns-footer-logo h3 {

    /*font-size: 32px;*/
    font-weight: 700;
    color: var(--ns-color-paradise-pink);
}

#ns-footer-logo p {
    font-size: 24px;
    font-weight: 700;
    color: var(--ns-color-tickle-me-pink);
}

#ns-footer-social {
    display: inline-block;
    grid-column: 1 / span 2;
    grid-row: 2;
    align-items: center;
    margin: 0 auto;
}

#ns-footer-copyright {
    grid-column: 1 / span 2;
    grid-row: 3;
    margin: 0 auto;
}

.ns-fr-captcha {
    flex: 1 0 100%;
    display: flex;
    justify-content: center;
    margin: 8px 0;
}

.ns-a-1 {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: var(--ns-color-white);
    text-decoration: none;
}

.ns-a-1:hover {
    color: var(--ns-color-deep-mauve);
}

.ns-a-clear {
    text-decoration: none;
    color: unset;
}

.ns-a-clear:hover {
    color: unset;
}

.ns-min-vh-100 {
    min-height: calc(100vh - 66px);
}

.ns-min-vh-50 {
    min-height: 50vh;
}

.ns-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ns-profile-picture {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.ns-news-input {
    border-color: var(--ns-color-theme-text);
    border-radius: 0.5rem;
    border-width: 4px;
    padding: 1.3rem;
    box-shadow: none;
}
.ns-dark  .ns-news-input {
    border-color: var(--ns-color-deep-mauve);
}

.ns-news-input:focus {
    border-color: var(--ns-color-paradise-pink);
}

.ns-news-btn {
    padding: 0.5rem 2em;
    height: 90%;
    border: none;
    border-radius: 0.5rem;
    font-size: 22px;
    min-width: 128px;
    width: auto;
}



/*FONT SIZE */

.ns-fs-1 {
    font-size: 64px;
}

.ns-fs-2 {
    font-size: 48px;
}

.ns-fs-3 {
    font-size: 32px;
}

.ns-fs-4 {
    font-size: 24px;
}

.ns-fs-5 {
    font-size: 20px;
}

.ns-fs-6 {
    font-size: 16px;
}



/*CAPTCHA*/

#captcha {
    width: var(--ns-captcha-width);
    height: calc(var(--ns-captcha-height) + var(--ns-captcha-piece-size) + var(--ns-captcha-ceil-size) * 2);
    position: relative;
    overflow: hidden;
    background: linear-gradient(to left, #9241AF, #a463c0);
    border-radius: .5rem;
}

.captcha-view {
    width: 100%;
    height: var(--ns-captcha-height);
    overflow: hidden;
    position: absolute;
}

.captcha-piece {
    cursor: move;
    touch-action: none;
    position: absolute;

    overflow: hidden;
    width: var(--ns-captcha-piece-size);
    height: var(--ns-captcha-piece-size);
    z-index: 100;
}

.captcha-piece-storage {
    user-select: none;
}

.captcha-piece img {
    max-width: none;
    max-height: none;
    touch-action: none;
}

#captcha-load {
    position: absolute;
    z-index: 1000;
    height: var(--ns-captcha-height);
    width: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
#captcha-load div {
    width: 50px;
    height: 50px;
}

#captcha-error {
    position: absolute;
    z-index: 1001;
    height: var(--ns-captcha-height);
    width: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 1rem;
    text-align: center;
}


/*toast*/

.ns-toast-container-style {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: calc(100vh - 1rem);
    overflow-y: scroll;
}

.ns-toast {
    width: 300px;
}

.ns-toast-header  {
    padding: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FAFAFA;
    border-radius: .5rem .5rem 0 0;
}

.ns-toast-header button {
    margin-left: auto;
}

.ns-toast-footer {
    background-color: #DEDEDF;
    padding: 0.5rem;
    border-radius: 0 0 .5rem .5rem;
}

.ns-toast-status {
    width: 16px;
    height: 16px;
    border-radius: 0.3rem;
    margin-right: 0.5rem;
}

.ns-loading-screen-style {
    height: 100vh;
    width: 100%;
    background-color: rgba(50, 50, 50, 0.8);
    position: fixed;
    z-index: 1111;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.ns-loading-screen-style  div {
    width: 150px;
    height: 150px;
}

.ns-reading-head {
    width: 100%;
    background-color: #ec6a87;
    background-image: url("/res/baner-alice.jpg");
    position: relative;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ns-reading-head h1 {
    color: black;
    font-size: 64px;
    text-shadow: 0 0 5px var(--ns-color-tickle-me-pink) ;
}


.ns-reading-head h2 {
    color: black;
    font-size: 48px;
    text-shadow: 0 0 5px var(--ns-color-tickle-me-pink) ;
}

.ns-reading-view-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0 1rem 0;
}

.ns-reading-progress {
    width: 50%;
    height: 8px;
    background-color: var(--ns-color-theme-invert-bg);
    display: flex;
    justify-content: end;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
}
.classic .ns-reading-progress {
    justify-content: start;
}

.ns-reading-progress:hover .ns-reading-progress-hover {
    visibility: visible;
}

.ns-reading-progress-hover {
    position: absolute;
    visibility: hidden;
    display: inline-flex;
    width: 40px;
    height: 40px;
    background-color: var(--ns-color-deep-fushia);
    color: var(--ns-color-white);
    border-radius: .5rem;
    align-items: center;
    justify-content: center;
    bottom: calc(100% + 5px);
}

.ns-reading-progress-hover::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--ns-color-deep-fushia) transparent transparent transparent;
}

.ns-reading-progress-in{
    border-radius: 25px;
    background: linear-gradient(to right, #c5405d, var(--ns-color-paradise-pink)) !important;
    transition: all;
}

#ns-reading-image {
    margin: 1rem 0;
    height: max(1000px, 90vh);
}

.ns-reading-nav {
    width: 50%;
    margin: 1rem auto 1rem auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.classic .ns-reading-nav {
    flex-direction: row-reverse;
}

.ns-reading-nav button {
    background-color: var(--ns-color-tickle-me-pink);
    padding: .3rem .8rem;
    color: #020202;
    border-radius: 1rem;
    outline: none;
    border: none;
    font-size: 24px;
}

.ns-reading-nav button:hover {
    opacity: .8;
}

.ns-pr-picture {
    width: 270px;
    height: 360px;
    margin:  0 auto;
}

.ns-container {
    background-color: var(--ns-color-light-red);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 2px 2px 5px var(--ns-color-light-red);
    margin: 3rem auto;
    width: 80%;
}

.ns-pr-info {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    flex-wrap: wrap;
}

.ns-pr-desc {
    width: 50%;
    margin:  0 auto;
}

.ns-pr-desc h1 {
    color: var(--ns-color-violet-blue);
    margin-bottom: 40px;
}

.ns-pr-desc > h1 > .ns-fs-2 {
    line-height: 2rem;
}

.ns-pr-desc > h1 > .ns-fs-3 {
    line-height: 2rem;
}

.ns-pr-desc p {

}

.ns-pr-vol {

}

.ns-pr-vol h3 {
    color: var(--ns-color-violet-blue);
}

.ns-pr-volume {
    width: 180px;
    box-shadow: 2px 2px 5px var(--ns-color-white);
}

.ns-pr-volume-img {
    width: 180px;
    height: 240px;
    border-radius: .5rem .5rem 0 0;
}

.ns-pr-vol-desc {
    width: 100%;
    height: auto;
    background-color: var(--ns-color-midnight);
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 .5rem .5rem;
    flex-grow: 1;
}


#ns-pr-vol-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
}

@media (max-width: 576px) {
    .ns-fs-1 {
        font-size: 48px;
    }
    .ns-fs-2 {
        font-size: 40px;
    }
}

@media  (max-width: 768px){
    /*.ns-pr-picture {*/
    /*    width: 135px;*/
    /*    height: 180px;*/
    /*}*/
    .ns-container {
        width: 95%;
    }
    .ns-pr-desc {
        width: auto;
    }

}

@media (max-width: 992px) {
    /*.ns-pr-picture {*/
    /*    width: 180px;*/
    /*    height: 240px;*/
    /*}*/
    .ns-fs-1 {
        font-size: 56px;
    }
}

@media (min-width: 768px) {

    .ns-f-w-group {
        flex: 1 0 50%;
        padding: 0 10px;
    }

    .w-md-25 {
        width: 25% !important;
    }

    .w-md-50 {
        width: 50% !important;
    }

    .w-md-75 {
        width: 75% !important;
    }

    .w-md-100 {
        width: 100% !important;
    }

    .w-md-auto {
        width: auto !important;
    }
}

@media (min-width: 992px) {
    .w-lg-25 {
        width: 25% !important;
    }

    .w-lg-40 {
        width: 40% !important;
    }

    .w-lg-50 {
        width: 50% !important;
    }

    .w-lg-75 {
        width: 75% !important;
    }

    .w-lg-100 {
        width: 100% !important;
    }

    .w-lg-auto {
        width: auto !important;
    }

    h1 {
        font-size: 96px;
    }

}