@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    font-family: 'Poppins', sans-serif;
}

:root {
    --ns-color-violet-blue: #540D6E;
    --ns-color-purpureus: #9241AF;
    --ns-color-midnight: #7B1E7A;
    --ns-color-deep-fushia: #BF61BD;
    --ns-color-deep-mauve: #DA86D9;
    --ns-color-paradise-pink: #EE4266;
    --ns-color-tickle-me-pink: #FF85A1;
    --ns-color-light-red: #F7CAD0;
    --ns-color-light-red-rgb: 247, 202, 208;
    --ns-color-lavender-blush: #FEF1F2;
    --ns-color-white: #FEFEFE;
    --ns-color-black: #020202;
    --ns-color-dark-theme-bg: #404141;
    --ns-color-white-theme-bg: #ffffff;
}

#error {
    font-size: 24px;
    padding: 72px 0;
}

#error h1 {
    font-size: 96px;
}

.ns-b-azalea {
    background-color: var(--ns-color-light-red);
}

.ns-text-red {
    color: var(--ns-color-paradise-pink);
}

.ns-f-bg {

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100%;
    z-index: -2;
    position: fixed;
    top: 0;
    left: 0;

}

.ns-f-bg-auth {
    background: linear-gradient(
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
    ), url(../res/background.jpg) no-repeat center center fixed;
}

.ns-f-bg-err {
    background: linear-gradient(
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
    ), url(../res/background_404.jpg) no-repeat center center fixed;
}

.ns-theme-bg {
    background-color: var(--ns-color-dark-theme-bg);
    background-color: var(--ns-color-white-theme-bg);
}

.ns-violet-blue-bg {
    background-color: var(--ns-color-violet-blue);
}


.ns-theme-text {
    color: #FEF1F2;
    color: #0F0F0F;
}

.ns-form-pink {
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: var(--ns-color-deep-fushia);
    color: var(--ns-color-lavender-blush);
    border: none;
}

.ns-form-pink:focus {
    background-color: var(--ns-color-deep-mauve);

}

.ns-f-wrap {
    display: flex;
    flex-wrap: wrap;
}

.ns-f-w-group {
    width: 100%;
    flex: 1 0 100%;
    padding: 0 10px;
}


#ns-nav {
    background-color: var(--ns-color-purpureus);
    height: 72px;
    max-height: 72px;
    overflow: hidden;
    width: 100%;

    position: sticky;
    top: 0;

    display: grid;
    grid-template-columns: 33% auto 33%;
    grid-template-rows: 100%;
    row-gap: 0;

    align-items: center;
}

.ns-logo {
    height: 96px;
}

#ns-nav .ns-logo {
    left: 100px;
    height: 48px;
    width: 48px;
}

.ns-search-div {
    width: 100%;
    height: 100%;
}

.ns-nav-part {
    grid-row: 1/3;
    align-self: stretch;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#ns-nav .ns-search {
    background-color: var(--ns-color-deep-mauve);
    border: none;
    height: 32px;
    width: calc(100% - 32px);
    padding: 0 24px;
    border-radius: 16px;
}

.ns-them-check {
    height: 32px;
    width: 64px !important;
    background-color: var(--ns-color-white-theme-bg);
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,133,161,1.0)'/></svg>") !important;
}

.ns-them-check:focus {
    border-color: var(--ns-color-light-red);
    box-shadow: 0 0 0 .25rem rgba(var(--ns-color-light-red));
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,133,161,1.0)'/></svg>") !important;;
}

.ns-them-check:checked {
    background-color: var(--ns-color-dark-theme-bg);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,133,161,1.0)'/></svg>") !important;;
}

.ns-pict {
    height: 72px;
}

#ns-footer {
    background-color: var(--ns-color-purpureus);
    height: 560px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 70% 20% 10%;
    align-items: center;
    justify-items: center;
}

#ns-footer-link {
    padding: 0 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: end;

    gap: 16px 32px;
    max-height: 220px;
}

#ns-footer-link > a {
    color: var(--ns-color-black);
    text-decoration: none;
    font-size: 24px;
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 4;
}

#ns-footer-link a:hover {
    color: var(--ns-color-deep-mauve);
}

#ns-footer-logo {
    bottom: 0;
}

/*#ns-footer-logo a {*/
/*    width: 100%;*/
/*}*/

#ns-footer-logo img {
    display: inline-block;
    margin-right: 32px;
    height: 160px;
}

#ns-footer-logo div {
    display: inline-block;
}

#ns-footer-logo h3 {

    font-size: 32px;
    font-weight: 700;
    color: var(--ns-color-paradise-pink);
}

#ns-footer-logo p {
    font-size: 24px;
    font-weight: 700;
    color: var(--ns-color-tickle-me-pink);
}

#ns-footer-social {
    display: inline-block;
    grid-column: 1 / span 2;
    grid-row: 2;
    align-items: center;
    margin: 0 auto;
}

#ns-footer-copyright {
    grid-column: 1 / span 2;
    grid-row: 3;
    margin: 0 auto;
}

.ns-a-1 {
    font-size: 24px;
    color: var(--ns-color-white);
    text-decoration: none;
}

.ns-a-1:hover {
    color: var(--ns-color-deep-mauve);
}

.ns-a-clear {
    text-decoration: none;
    color: unset;
}

.ns-a-clear:hover {
    color: unset;
}

.ns-min-vh-100 {
    min-height: calc(100vh - 72px);
}

.ns-min-vh-50 {
    min-height: 50vh;
}

.ns-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {

    .ns-f-w-group {
        flex: 1 0 50%;
        padding: 0 10px;
    }

    .w-md-25 {
        width: 25% !important;
    }

    .w-md-50 {
        width: 50% !important;
    }

    .w-md-75 {
        width: 75% !important;
    }

    .w-md-100 {
        width: 100% !important;
    }

    .w-md-auto {
        width: auto !important;
    }
}

@media (min-width: 992px) {
    .w-lg-25 {
        width: 25% !important;
    }

    .w-lg-50 {
        width: 50% !important;
    }

    .w-lg-75 {
        width: 75% !important;
    }

    .w-lg-100 {
        width: 100% !important;
    }

    .w-lg-auto {
        width: auto !important;
    }
}