ErrorDocument 404 /error/404.php
ErrorDocument 403 /error/404.php

<FilesMatch "^\.">
Order allow,deny
Deny from all
</FilesMatch>

Options All -Indexes

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(admin.*)$ /admin.php [NC,L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.html [NC,L,QSA]