
ErrorDocument 404 /error/404.php
ErrorDocument 403 /error/404.php

<FilesMatch "^\.">
Order allow,deny
Deny from all
</FilesMatch>

Options All -Indexes


RewriteEngine On

# n'est pas un fichier regulier
RewriteCond %{REQUEST_FILENAME} !-f
# n'est pas un dossier qui existe
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.+)$ $1.php [L,QSA]



