<?php
const DB_HOST = '127.0.0.1';
const DB_NAME = 'nyanscan';
const DB_PORT = '3306';
const DB_DRIVER = 'mysql';
const DB_USER = '';
const DB_PREFIX = '';
const DB_PASSWORD = '';

const TABLE_BOOK = 'BOOK';
const TABLE_BOOK_COMMENT = 'BOOK_COMMENT';
const TABLE_COLLECTION = 'COLLECTION';
const TABLE_FORUM_CATEGORY = 'FORUM_CATEGORY';
const TABLE_FORUM_MESSAGE = 'FORUM_MESSAGE';
const TABLE_FORUM_TOPIC = 'FORUM_TOPIC';
const TABLE_FRIEND = 'FRIEND';
const TABLE_USER = 'USER';