
h1 {
    font-size: 64px;
}

h3 {
    font-size: 30px;
}

body {
    position: relative;
}

.ns-carousel {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
}

.ns-carousel-images {
    width: 100%;
    height: 33.75vw;
}

.ns-carousel img {
    position: absolute;
    width: 60vw;
    height: 33.75vw;
    object-fit: cover;
    left: 20vw;
    cursor: pointer;
}

.ns-carousel .ns-carousel-1 {
    transform: scale(0.8, 0.8) translateX(-13vw);
}

.ns-carousel .ns-carousel-2 {
    z-index: 5;
    transform: none !important;
}

.ns-carousel .ns-carousel-3 {
    transform: scale(0.8, 0.8) translateX(13vw);
}

.ns-carousel .ns-carousel-off {
    display: none;
}

.ns-carousel-points {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.ns-carousel-point {
    width: 16px;
    height: 16px;
    border-radius: 50rem;
    background-color: #c4c4c4;
    cursor: pointer;
}

.ns-carousel-point-active {
    background-color: var(--ns-color-tickle-me-pink);
}

#error {
    font-size: 21px;
    padding: 72px 0;
}

.ns-menu-profil {
    background-color: var(--ns-color-gray);
    height: 40px;
    width: 40px;
    border-radius: 15em;
}

.ns-avatar {
    background-color: var(--ns-color-gray);
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.ns-avatar-md {
    height: 80px;
    width: 80px;
}

.ns-avatar-sm {
    height: 32px;
    width: 32px;
}

.ns-line {
    width: 80%;
}

.ns-categ-topic {
    background-color: var(--ns-color-light-red);
    border-radius: 0.5rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 20px 5%;
}

.ns-categ-subject {
    background-color: var(--ns-color-purpureus);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 20px 5%;
}

.ns-scan-preview {
    background-color: var(--ns-color-light-red);
    border-radius: 0.5rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 20px 5%;
}

.ns-section-block {
    overflow: auto;
    border-radius: 0.5rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 20px 5%;
}

.ns-scan-preview-profil {
    background-color: var(--ns-color-light-red);
    border-radius: 0.5rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 10px 5%;
}

.ns-scan-preview h3 {
    /*font-size: 32px;*/
    margin: 1em 0;
}

.ns-scan-preview-elements {
    display: block;
    width: max-content;
}

.ns-scan-preview-component, ns-project {
    display: inline-flex;
    width: 296px;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 16px;
    margin: 0 16px;
}

.ns-scan-preview-component img, .ns-scan-preview-component-placeholder, ns-project img {
    height: 420px;
    width: 296px;
    object-fit: cover;
}

.ns-scan-preview-component > span, ns-project > span {
    font-size: 24px;
    text-align: center;
}

ns-project > span > span {
    display: inline-block;
}

ns-project > span > span:empty {
    width: 75%;
}

.ns-b-azalea {
    background-color: var(--ns-color-light-red);
}

.ns-b-purple-gradient {
    background: linear-gradient(to right, #9f4eb9, #a463c0) !important;
}

.ns-text-red {
    color: var(--ns-color-paradise-pink);
}

.ns-text-black {
    color: var(--ns-color-black) !important;
}

.ns-text-white {
    color: var(--ns-color-white) !important;
}

.ns-f-bg-err {
    background: linear-gradient(
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
    ), url(/res/background_8.jpg) no-repeat center center fixed;
}


.ns-f-bg-random {
    background-position: center;
    background-repeat: no-repeat no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/res/background_1.jpg");
}

.ns-f-bg {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100%;
    z-index: -2;
    position: fixed;
    top: 0;
    left: 0;
}


.ns-theme-bg {
    background-color: var(--ns-color-theme-bg);
}

.ns-violet-blue-bg {
    background-color: var(--ns-color-violet-blue);
}

.ns-tickle-pink-bg {
    background-color: var(--ns-color-tickle-me-pink);
}

.ns-tickle-pink-btn {
    background-color: var(--ns-color-tickle-me-pink);
    border-radius: 1.5rem;
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    color: var(--ns-color-theme-text);
}

.ns-tickle-pink-btn:hover {
    opacity: 0.7;
}

.ns-btn-sm {
    padding: 0.1em 1rem;
}

.ns-theme-text {
    color: var(--ns-color-theme-text);
}

.ns-form-pink {
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: var(--ns-color-deep-fushia);
    color: var(--ns-color-lavender-blush);
    border: none;
}

.ns-form-pink::placeholder {
    color: var(--ns-color-lavender-blush);
    opacity: 0.8;
}

.ns-form-pink:focus {
    background-color: var(--ns-color-deep-mauve);
}

.ns-form-deep-mauve {
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: var(--ns-color-deep-mauve);
    color: var(--ns-color-black);
    border: none;
}

.ns-form-deep-mauve::placeholder {
    color: var(--ns-color-lavender-blush);
    opacity: 0.8;
}

.ns-form-deep-mauve:focus {
    outline: solid black 2px;
    border: none;
    box-shadow: none;
    background-color: var(--ns-color-deep-mauve);
    /*background-color: var(--ns-color-deep-mauve);*/
}

.ns-form-deep-mauve:hover {
    opacity: 0.7;
}

.ns-form-danger {
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: var(--ns-color-paradise-pink);
    color: var(--ns-color-lavender-blush);
    border: none;
    border-radius: .4rem;
}

.ns-form-danger:focus {
    background-color: var(--ns-color-paradise-pink);
}

.ns-form-danger:hover {
    opacity: .8;
}

.ns-f-wrap {
    display: flex;
    flex-wrap: wrap;
}

.ns-f-w-group {
    width: 100%;
    flex: 1 0 100%;
    /*padding: 0 10px;*/
}

.no-display {
    display: none;
}

#horizontal-mobile-nav {
    height: 100vh;
    width: 100%;
    background-color: rgba(50, 50, 50, 0.8);
    position: fixed;
    z-index: 900;
    overflow: auto;
    top: 48px;
}

#horizontal-mobile-nav-container {
    max-height: 100vh;
    width: 300px;
    background-color: var(--ns-color-deep-mauve);
    padding: 1rem;
    border-bottom-right-radius: 1rem;
}

#horizontal-mobile-nav-ul {
    list-style: none;
}

#horizontal-mobile-nav-ul > span {
    color: var(--ns-color-paradise-pink);
    font-size: 32px;
    font-weight: 500;
}

#horizontal-mobile-nav-ul > li {
    padding: 0.5rem 0;
}

#mainNav {
    background: linear-gradient(to left, #9241AF, #a463c0) !important;
    min-height: 48px;

    display: grid;
    grid-template-columns: 2fr 40% 64px 1.6fr;
    grid-template-rows: 1fr;
    grid-column-gap: 16px;

    justify-content: center;
    align-items: center;
}

.svg-inline {
    width: 1em;
}

.ns-nav-logo {

}

.ns-404-h1 {
    font-size: 60px;
}

.ns-logo-auth {
    height: 96px;
}

.ns-logo-404 {
    height: 80px;
}

/*#ns-nav .ns-logo {
    left: 100px;
    height: 48px;
    width: 48px;
}*/

.ns-search-div {
    width: 100%;
    height: 100%;
}

.ns-nav-part {
    grid-row: 1/3;
    align-self: stretch;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.ns-form-search {
    position: relative;
}

.ns-search {
    background-color: var(--ns-color-deep-mauve);
    border: none;
    height: 32px;
    width: 90%;
    padding: 0 24px;
    border-radius: 16px;
    margin-left: 25px;
    margin-right: 25px;
}

.ns-search:focus + .ns-search-result {
    display: block;
}

.ns-search-result:hover {
    display: block;
}

.ns-search-result {
    display: none;
    top: 48px;
    position: absolute;
    z-index: 100;
    width: 100%;
    max-height: 60vh;
    overflow-y: scroll;
    border-radius: 0 0 16px 16px;
    /*border: 2px solid var(--ns-color-paradise-pink);*/
}

.ns-search-result ul, .ns-search-result li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ns-search-result .ns-search-category {
    padding-top: .5rem;
    background-color: var(--ns-color-purpureus);
}

.ns-search-result .ns-search-category > span {
    margin-left: 1rem;
    font-size: 24px;
    font-weight: 600;
    color: var(--ns-color-paradise-pink);
    letter-spacing: .15rem;
}

.ns-search-result .ns-search-category > ul {
    margin-top: .5rem;
    font-size: 16px;
    font-weight: normal;
    background-color: var(--ns-color-deep-mauve);
    color: var(--ns-color-black);
}

.ns-search-result .ns-search-category > ul > li {
    padding: .3rem 1rem;
    border-bottom: 1px solid black;
}

.ns-search-result ns-a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.ns-search-result .ns-search-category ul li:hover {
    background-color: var(--ns-color-tickle-me-pink);
}

.ns-them-check {
    height: 32px;
    width: 64px !important;
    background-color: #ffffff;
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,133,161,1.0)'/></svg>") !important;
}

.ns-them-check:focus {
    border-color: var(--ns-color-light-red);
    box-shadow: 0 0 0 .25rem rgba(var(--ns-color-light-red));
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,133,161,1.0)'/></svg>") !important;;
}

.ns-them-check:checked {
    background-color: #404141;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,133,161,1.0)'/></svg>") !important;;
}

.ns-pict {
    height: 40px;
}

#ns-footer {
    background-color: var(--ns-color-purpureus);
    height: 560px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 70% 20% 10%;
    align-items: center;
    justify-items: center;
}

#ns-footer-link {
    padding: 0 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: end;
    gap: 16px 32px;
    max-height: 220px;
}

#ns-footer-link > a, #ns-footer-link > ns-a {
    color: var(--ns-color-black);
    text-decoration: none;
    font-size: 20px;
    flex-basis: 150px;
    flex-grow: 1;
    flex-shrink: 4;
}

#ns-footer-link a:hover, #ns-footer-link > ns-a:hover {
    color: var(--ns-color-deep-mauve);
}

#ns-footer-logo {
    bottom: 0;
}

/*#ns-footer-logo a {*/
/*    width: 100%;*/
/*}*/

#ns-footer-logo img {
    display: inline-block;
    height: 140px;
}

#ns-footer-logo div {
    display: inline-block;
}

#ns-footer-logo h3 {
    font-weight: 700;
    color: var(--ns-color-paradise-pink);
}

#ns-footer-logo p {
    font-weight: 700;
    color: var(--ns-color-tickle-me-pink);
}

#ns-footer-social {
    display: inline-block;
    grid-column: 1 / span 2;
    grid-row: 2;
    align-items: center;
    margin: 0 auto;
}

#ns-footer-copyright {
    grid-column: 1 / span 2;
    grid-row: 3;
    margin: 0 auto;
}

.ns-fr-captcha {
    flex: 1 0 100%;
    display: flex;
    justify-content: center;
    margin: 8px 0;
}

.ns-forum-categ-title {
    color: var(--ns-color-black) !important;
}

.ns-a-1 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
    color: var(--ns-color-white);
    text-decoration: none;
}

.ns-a-1:hover {
    color: var(--ns-color-deep-mauve);
}

.ns-a-categ {
    color: var(--ns-color-white);
    text-decoration: none;
}

.ns-a-categ:hover {
    color: var(--ns-color-deep-mauve);
}

.ns-a-clear {
    text-decoration: none;
    color: unset;
}

.ns-a-clear:hover {
    color: unset;
}

.ns-min-vh-100 {
    min-height: calc(100vh - 66px);
}

.ns-min-vh-50 {
    min-height: 50vh;
}


#ns-main {
    /*z-index: -3;*/
}

.ns-categ-center {
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 30px 10%;
}

.ns-forum-center {
    border-radius: 0.5rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 5%;
}

.ns-forum-banner {
    width: 100%;
    background-color: #ec6a87;
    background-image: url("/res/forum/banner_forum_1.jpg");
    position: relative;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ns-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ns-picture-preview {
    background-color: var(--ns-color-deep-mauve);
    border-radius: 0.5rem;
}

.ns-profile-picture {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.ns-news-input {
    border-color: var(--ns-color-theme-text);
    border-radius: 0.5rem;
    border-width: 4px;
    padding: 1.3rem;
    box-shadow: none;
}

.ns-dark .ns-news-input {
    border-color: var(--ns-color-deep-mauve);
}

.ns-news-input:focus {
    border-color: var(--ns-color-paradise-pink);
}

.ns-news-btn {
    padding: 0.5rem 2em;
    height: 90%;
    border: none;
    border-radius: 0.5rem;
    font-size: 22px;
    min-width: 128px;
    width: auto;
}


/*FONT SIZE */

.ns-fs-1 {
    font-size: 45px;
}

.ns-fs-2 {
    font-size: 32px;
}

.ns-fs-3 {
    font-size: 26px;
}

.ns-fs-4 {
    font-size: 22px;
}

.ns-fs-5 {
    font-size: 20px;
}

.ns-fs-6 {
    font-size: 16px;
}


/*CAPTCHA*/

#captcha {
    width: var(--ns-captcha-width);
    height: calc(var(--ns-captcha-height) + var(--ns-captcha-piece-size) + var(--ns-captcha-ceil-size) * 2);
    position: relative;
    overflow: hidden;
    background: linear-gradient(to left, #9241AF, #a463c0);
    border-radius: .5rem;
}

.captcha-view {
    width: 100%;
    height: var(--ns-captcha-height);
    overflow: hidden;
    position: absolute;
}

.captcha-piece {
    cursor: move;
    touch-action: none;
    position: absolute;

    overflow: hidden;
    width: var(--ns-captcha-piece-size);
    height: var(--ns-captcha-piece-size);
    z-index: 100;
}

.captcha-piece-storage {
    user-select: none;
}

.captcha-piece img {
    max-width: none;
    max-height: none;
    touch-action: none;
}

#captcha-load {
    position: absolute;
    z-index: 1000;
    height: var(--ns-captcha-height);
    width: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

#captcha-load div {
    width: 50px;
    height: 50px;
}

#captcha-error {
    position: absolute;
    z-index: 1001;
    height: var(--ns-captcha-height);
    width: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 1rem;
    text-align: center;
}


/*toast*/

.ns-toast-container-style {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: calc(100vh - 1rem);
    overflow-y: scroll;
}

.ns-toast {
    width: 300px;
}

.ns-toast-header {
    padding: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FAFAFA;
    border-radius: .5rem .5rem 0 0;
}

.ns-toast-header button {
    margin-left: auto;
}

.ns-toast-footer {
    background-color: #DEDEDF;
    padding: 0.5rem;
    border-radius: 0 0 .5rem .5rem;
}

.ns-toast-status {
    width: 16px;
    height: 16px;
    border-radius: 0.3rem;
    margin-right: 0.5rem;
}

.ns-loading-screen-style {
    height: 100vh;
    width: 100%;
    background-color: rgba(50, 50, 50, 0.8);
    position: fixed;
    z-index: 1111;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10%;
    top: 0;
    left: 0;
}

.ns-loading-screen-spinner {
    width: 150px;
    height: 150px;
}

.ns-progress {
    width: 50%;
    height: 8px;
    border-radius: 1rem;
    background-color: var(--ns-color-white);
}

.ns-progress > div {
    border-radius: 1rem;
    background: linear-gradient(to left, #9241AF, #a463c0);
    height: 100%;
    width: 0;
}

#ns-loading-screen-text {
    max-width: 50%;
    text-align: center;
    color: var(--ns-color-white);
    font-size: 20px;
}

.ns-success-css {
    margin-top: 90px;
}

.ns-scan-success {
    background-color: rgba(112, 224, 0, 0.6);
    border-radius: 0.5rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 20px 5%;
}

.ns-scan-wait {
    background-color: rgba(0, 134, 224, 0.6);
    border-radius: 0.5rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 20px 5%;
}

.ns-scan-failed {
    background-color: rgba(238, 45, 56, 0.76);
    border-radius: 0.5rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 20px 5%;
}

.ns-scan-CGU {
    background-color: #BF61BD;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 80px 9%;

}

.ns-background-image-cgu {
    background-image: url("../res/ImageCGU.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: min(200px, 10%) 40px;

}

.ns-reading-head {
    width: 100%;
    background-color: #ec6a87;
    background-image: url("/res/baner-alice.jpg");
    position: relative;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ns-reading-head h1 {
    color: black;
    text-shadow: 0 0 5px var(--ns-color-tickle-me-pink);
}


.ns-reading-head h2 {
    color: black;
    text-shadow: 0 0 5px var(--ns-color-tickle-me-pink);
}

.ns-reading-view-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0 1rem 0;
}

.ns-reading-progress {
    width: 50%;
    height: 8px;
    background-color: var(--ns-color-theme-invert-bg);
    display: flex;
    justify-content: end;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
}

.classic .ns-reading-progress {
    justify-content: start;
}

.ns-reading-progress:hover .ns-reading-progress-hover {
    visibility: visible;
}

.ns-reading-progress-hover {
    position: absolute;
    visibility: hidden;
    display: inline-flex;
    width: 40px;
    height: 40px;
    background-color: var(--ns-color-deep-fushia);
    color: var(--ns-color-white);
    border-radius: .5rem;
    align-items: center;
    justify-content: center;
    bottom: calc(100% + 5px);
}

.ns-reading-progress-hover::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--ns-color-deep-fushia) transparent transparent transparent;
}

.ns-reading-progress-in {
    border-radius: 25px;
    background: linear-gradient(to right, #c5405d, var(--ns-color-paradise-pink)) !important;
    transition: all;
}

#ns-reading-image {
    margin: 1rem 0;
}

.ns-reading-nav {
    width: 50%;
    margin: 1rem auto 1rem auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.classic .ns-reading-nav {
    flex-direction: row-reverse;
}

.ns-reading-btn {
    background-color: var(--ns-color-purpureus);
    padding: .3rem 1.2rem;
    color: white;
    font-weight: 500;
    border-radius: 1rem;
    outline: none;
    border: none;
    font-size: 24px;
    text-align: center;
}

.ns-reading-btn:hover {
    opacity: .8;
    color: white;
    text-decoration: none;
}

.ns-reading-btn:disabled {
    opacity: .8;
}

.ns-reading-zoom-btn {
    margin-bottom: 1rem;
}

.ns-reading-zoom-btn .ns-reading-btn {
    border-radius: 0;
    border-right: solid 1px gray;
    border-left: solid 1px gray;
}

.ns-reading-zoom-btn .ns-reading-btn:first-child {
    border-left: 0;
    border-radius: 1rem 0 0 1rem;
}

.ns-reading-zoom-btn .ns-reading-btn:last-child {
    border-right: 0;
    border-radius: 0 1rem 1rem 0;
}

.ns-reading-view {
    overflow-x: scroll;
    max-width: 100vw;
}

.ns-reading-like {

}

.ns-reading-like > .bi {
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 50%;
    font-size: 48px;
    width: 67px;
    text-align: center;
}

.ns-reading-like > .bi:first-child {
    margin-right: 2rem;
}

.ns-reading-like > .bi:hover {
    background-color: #4d4b4b;
    transition: background-color 0.5s ease-out;
}

.ns-pr-picture {
    width: 444px;
    height: 630px;
    margin: 0 auto;
    border-radius: .8rem;
}

.ns-pr-progress {
    width: 100%;
    height: 8px;
    position: absolute;
    background-color: transparent;
    transform: translateY(-8px);
}

.ns-pr-progress > div {
    height: 100%;
    background-color: var(--ns-color-paradise-pink);
    border-radius: 0 4px 4px 0;
}

.ns-pr-progress > div[style*="width: 100%;"] {
    border-radius: 0;
}

.ns-container {
    background-color: var(--ns-color-light-red);
    border-radius: .8rem;
    padding: 2rem;
    filter: drop-shadow(2px 2px 2px var(--ns-color-light-red));
    margin: 3rem auto;
    width: 80%;
}

.ns-pr-info {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
}

.ns-pr-desc {
    width: 50%;
}

.ns-pr-desc h1 {
    color: var(--ns-color-paradise-pink);
    font-weight: 500;
    margin-bottom: 40px;
    max-width: 100%;
}

.ns-pr-desc h1 > input {
    width: 100%;
    font-size: 35px;
    background-color: #be9398;
    opacity: .9;
    color: var(--ns-color-paradise-pink);
    border: none;
    outline: none;
    border-radius: .5rem;
    padding: 0 .5rem;
}

.ns-pr-desc > h1 > .ns-fs-2 {
    line-height: 2rem;
}

.ns-pr-desc > h1 > .ns-fs-3 {
    line-height: 2rem;
}

.ns-pr-desc textarea {
    background-color: #be9398;
    width: 100%;
    height: auto;
    border: none;
    outline: none;
    border-radius: .5rem;
    padding: 0 .5rem;
    color: var(--ns-color-white);
}
.ns-pr-desc button {
    margin-top: 5rem;
    height: auto;
    border: none;
    outline: none;
    border-radius: .5rem;
}

.ns-pr-desc select {
    background-color: #be9398;
}

.ns-pr-vol h3 {
    color: var(--ns-color-paradise-pink);
    font-size: 42px;
}

.ns-pr-volume {
    width: 296px;
    filter: drop-shadow(2px 2px 2px black);
    transition: transform 0.5s;
}

.ns-pr-volume:hover {
    transform: translateY(-10px);
}

.ns-pr-volume ns-a:hover {
    text-decoration: none !important;
}

.ns-pr-volume-img {
    width: 296px;
    height: 420px;
    border-radius: .5rem .5rem 0 0;
}

.ns-pr-vol-desc {
    padding: .3rem .5rem;
    width: 100%;
    height: auto;
    background-color: var(--ns-color-midnight);
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 .5rem .5rem;
    flex-grow: 1;
}

#ns-pr-vol-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
}

.ns-pr-desc-utils {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

#topics-container:empty {
    background-color: var(--ns-color-deep-mauve);;
    height: 100vh;
}

#nsf-messages-container {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

#nsf-messages-container:empty {
    background-color: var(--ns-color-deep-mauve);
    height: 100vh;
}

.ns-rounded-text {
    border-radius: 1.5rem;
    padding: 0.5rem 2rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    font-size: 1.2rem;
    border: 1px solid transparent;
}

.nsf-message {
    display: grid;
    grid-template-columns: 100px auto 1fr;
    grid-template-rows: 32px auto auto;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    padding: 2rem;
    background-color: var(--ns-color-purpureus);
    border-radius: 1rem;
}

.nsf-message-user {
    grid-area: 1 / 1 / 4 / 2;
    display: flex;
    row-gap: .8rem;
    flex-direction: column;
    align-items: center;
}

.nsf-message-user img {
}

.nsf-message-user .nsf-message-username {
}

.nsf-message-date {
    grid-area: 1 / 2 / 2 / 3;
    font-size: 12px;
    font-style: italic;
    align-self: center;
}

.nsf-message-action {
    grid-area: 1 / 3 / 2 / 4;
    justify-self: end;
    align-self: center;
}

.nsf-message-content {
    grid-area: 2 / 2 / 3 / 4;
}

.nsf-message-reply {
    grid-area: 3 / 2 / 4 / 4;
}

.nsf-message-reply {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.nsf-message-reply-hide .nsf-message-reply-less {
    display: none;
}

.nsf-message-reply-hide .nsf-message-reply-container {
    display: none;
}

#nsf-message-compose {
    width: 100%;
}

#nsf-message-compose-pop {
    background-color: var(--ns-color-violet-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem 1rem 0 0;
    padding: .2em calc(1rem + 9px) .2em 1rem;
}

#nsf-message-compose-pop button {
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: var(--ns-color-paradise-pink);
}

#nsf-message-compose-pop button:hover {
    opacity: .8;
}

#nsf-message-compose-pop:not([style*="display: none;"]) + #sf-message-compose-area-container {
    border-radius: 0 0 1rem 1rem;
}


#sf-message-compose-area-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto 32px;
    grid-auto-columns: auto 24px;
    column-gap: 1rem;
    background-color: var(--ns-color-purpureus);
    border-radius: 1rem;
    padding: 1rem 1.2rem;
}

#nsf-message-compose-area {
    grid-area: 1 / 1 / 2 / 2;
    resize: none;
    background-color: transparent;
    outline: none;
    border: none;
    width: 100%;
    color: var(--ns-color-white);
}

#nsf-message-compose-error {
    grid-area: 2 / 1 / 3 / 3;
    color: var(--ns-color-paradise-pink);
    font-size: 1em;
}

#nsf-message-compose-send {
    grid-area: 1 / 2 / 2 / 3;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    font-size: 12px;
    background-color: var(--ns-color-deep-mauve);
    outline: none;
    border: none;
    color: var(--ns-color-paradise-pink);
}

#nsf-message-compose-send:hover {
    opacity: .8;
}

.ns-search-res-category {
    background-color: var(--ns-color-light-red);
    margin: 2rem;
    padding: 1rem;
    border-radius: .5rem;
}

.ns-search-res-category h2 {
    color: var(--ns-color-paradise-pink);
    font-weight: 600;
    margin: 1rem 0 2rem 1rem;
}

.ns-search-res-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    align-items: start;
}

.ns-search-res-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 170px;
    max-width: 170px;
    text-align: center;
    font-size: 24px;
    word-break: break-all;
    gap: .5rem;
}

.ns-search-res-user:hover {
    transform: translateY(-1rem);
}


.ns-project-picture-edit {
    width: 296px;
    height: 420px;
    overflow: hidden;
    position: relative;
}
.ns-project-picture-edit canvas {
    background-color: var(--ns-color-deep-mauve);
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

.ns-project-picture-edit canvas:hover + label {
    display: block;
}

.ns-project-picture-edit label{
    display: none;
    background-color: rgba(50, 50, 50, .3);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    font-size: 100px;
    text-align: center;
    line-height: 420px;
    color: var(--ns-color-paradise-pink);
}

.ns-project-picture-edit input[type=file] {
    display: none;
}

.ns-project-picture-edit label:hover {
    display: block;
    cursor: pointer;
}

.ns-user-edit-field {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr auto;
    row-gap: .1rem;
}

.ns-user-edit-field > *:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
    color: #ddd;
    text-transform: uppercase;
}

.ns-user-edit-field > *:nth-child(2) {
    grid-area: 2 / 1 / 3 / 2;
}

.ns-user-edit-field > *:nth-child(3) {
    grid-area: 1 / 2 / 3 / 3;
}

.ns-profile-avatar-edit {
    position: relative;
}

.ns-profile-avatar-edit .bi {
    display: none;
    background-color: rgba(50, 50, 50, .3);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    font-size: 64px;
    text-align: center;
    line-height: 166px;
    border-radius: 50%;
    color: var(--ns-color-paradise-pink);
}

.ns-profile-avatar-edit:hover .bi {
    display: block;
}

.ns-modal-profile-avatar-inside {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: stretch;
    align-items: stretch;
    gap: .5rem;
    margin-bottom: 24px;
    margin-top: 16px;
}

#ns-modal-profile-avatar-preview {
    min-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ns-modal-profile-avatar-images {
    position: relative;
    width: 102px;
    height: 102px;
}

.ns-modal-profile-avatar-images img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#ns-modal-profile-avatar-settings {
    min-height: 150px;
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.ns-modal-profile-avatar-btn-group {

}

.ns-modal-profile-avatar-btn-group > div {
    display: flex;
    flex-direction: row;
}

.ns-modal-profile-avatar-btn-group > div > button {
    background-color: var(--ns-color-tickle-me-pink);
    border: none;
    outline: none;
    padding: .5rem;
    border-radius: 50% 0 0 50%;
}

.ns-modal-profile-avatar-btn-group > div > button:hover {
    opacity: .8;
}

.ns-modal-profile-avatar-btn-group > div > button:last-child {
    border-radius: 0 50% 50% 0;
}

.ns-modal-profile-avatar-btn-group > div > span {
    background-color: var(--ns-color-tickle-me-pink);
    border-right: 1px white solid;
    border-left: 1px white solid;
    flex-grow: 1;
    text-align: center;
    padding: .5rem;
}

@media not (pointer: fine) {
    .ns-project-picture-edit label {
        display: block;
    }
}

@media (max-width: 992px) {
    #mainNav {
        grid-template-columns: 40px 40px 1fr;
        grid-template-rows: 1fr;
        padding: 0 24px;
    }

    .ns-fs-1 {
        font-size: 32px;
    }
}

@media (max-width: 768px) {
    .ns-container {
        width: 95%;
    }

    .ns-reading-head ns-api-data {
        text-align: center;
    }

    .ns-modal-profile-avatar-inside {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .ns-reading-nav, .ns-reading-progress {
        width: 90%;
    }

    .ns-pr-desc {
        width: auto;
    }

    .ns-categ-center {
        padding: 10px 4%;
    }

    .nsf-message {
        grid-template-columns: 100px 1fr;
        grid-template-rows: 64px auto auto auto;
        grid-column-gap: .5rem;
        grid-row-gap: .5rem;
    }

    .nsf-message .nsf-message {
        padding: 1rem;
    }

    .nsf-message-action {
        grid-area: 2 / 1 / 3 / 3;
        justify-self: start;
    }

    .nsf-message-user {
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        row-gap: .8rem;
        column-gap: .5rem;
        flex-direction: row;
        align-items: center;
    }

    .nsf-message-user img {
        height: 32px;
        width: 32px;
    }

    .nsf-message-content {
        grid-area: 3 / 1 / 4 / 3;
        margin: 0;
    }

    .nsf-message-reply {
        margin-top: 1rem;
        grid-area: 4 / 1 / 5 / 3;
    }

    .ns-md-fs-1 {
        font-size: 56px;
    }

    .ns-md-fs-2 {
        font-size: 48px;
    }

    .ns-md-fs-3 {
        font-size: 32px;
    }

    .ns-md-fs-4 {
        font-size: 24px;
    }

    .ns-md-fs-5 {
        font-size: 20px;
    }

    .ns-md-fs-6 {
        font-size: 16px;
    }

    .ns-md-avatar-sm {
        height: 32px;
        width: 32px;
    }

    #ns-footer-logo img {
        height: 98px;
    }

    .ns-carousel img {
        width: 90vw;
        height: 50.625vw;
        left: 5vw;
    }

    .ns-carousel-images {
        height: 50.625vw;
    }

    .ns-carousel .ns-carousel-1 {
        transform: scale(0.8, 0.8) translateX(-20vw);
    }

    .ns-carousel .ns-carousel-3 {
        transform: scale(0.8, 0.8) translateX(20vw);
    }

    .ns-section-block {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .ns-pr-picture {
        width: 296px;
        height: 420px;
    }

    .ns-fs-1 {
        font-size: 35px;
    }

    .ns-fs-2 {
        font-size: 28px;
    }

    .ns-md-fs-1 {
        font-size: 48px;
    }

    .ns-md-fs-2 {
        font-size: 40px;
    }

    .ns-md-fs-3 {
        font-size: 32px;
    }

    .ns-md-fs-4 {
        font-size: 24px;
    }

    .ns-md-fs-5 {
        font-size: 20px;
    }

    .ns-md-fs-6 {
        font-size: 16px;
    }
}

/*MORE BOOTSTRAP*/
@media (min-width: 768px) {

    .ns-f-w-group {
        flex: 1 0 50%;
        padding: 0 10px;
    }

    .w-md-25 {
        width: 25% !important;
    }

    .w-md-50 {
        width: 50% !important;
    }

    .w-md-75 {
        width: 75% !important;
    }

    .w-md-100 {
        width: 100% !important;
    }

    .w-md-auto {
        width: auto !important;
    }
}

@media (min-width: 992px) {
    .w-lg-25 {
        width: 25% !important;
    }

    .w-lg-40 {
        width: 40% !important;
    }

    .w-lg-50 {
        width: 50% !important;
    }

    .w-lg-75 {
        width: 75% !important;
    }

    .w-lg-100 {
        width: 100% !important;
    }

    .w-lg-auto {
        width: auto !important;
    }

    h1 {
        font-size: 96px;
    }

}

